*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: green;
  }
  .landing2{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .titulo2{
    height: 20vh;
    padding: 0 5vw;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    text-transform: uppercase;
  }
  .contenedor-principal2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80%;
    width: 80%;
  }
  .contenedor-formulario2{
    height: 70%;
    width: 50%;
    background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 30px;
  }
  form{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
  }
  select, input{
    width: 100%;
    height: 35px;
    border-radius: 15px;
    padding: 5px;
  }
  select, input{
    border-radius: 15px;
  }
  input:focus{
    border-color: green;
  }
  .contenedor-botones2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .contenedor-botones2 button{
    margin-top: 10px;
    background: none;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 15px;
  }
  .contenedor-botones2 button:hover{
    color: white;
    background-color: green;
    border-color: white;
  }
  